---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
---

<DefaultFooter />
<footer class="sl-c-footer">
  <div class="footer-left">
      <a href="https://github.com/aoede3/taujs-starter-react" target="_blank">GitHub Starter React</a>
    | <a href="https://github.com/aoede3/taujs-server" target="_blank">GitHub @taujs/server</a>
    | <a href="https://github.com/aoede3/taujs-react" target="_blank">GitHub @taujs/react</a>
  </div>

  <div class="footer-left">
      <a href="https://www.npmjs.com/package/@taujs/server" target="_blank">NPM @taujs/server</a>
    | <a href="https://www.npmjs.com/package/@taujs/react" target="_blank">NPM @taujs/react</a>
  </div>

  <div class="footer-right">
    <span>τjs Documentation</span>
    <span>MIT Licensed</span>
    <span>© 2024-present <a href="https://www.aoede.uk.net/" target="_blank">Aoede Ltd</a></span>
  </div>
</footer>

<script>
  if(location.origin === "https://taujs.dev"){
    var head = document.getElementsByTagName("head")[0];
    var adScript = document.createElement("script");

    adScript.type = "text/javascript";
    adScript.src = "https://www.googletagmanager.com/gtag/js?id=G-PKVHSZ9YTY";
    adScript.async = true;
    head.appendChild(adScript);

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PKVHSZ9YTY');
  }
</script>
